version: '3.7' 

services:
  gateway:
    build: .
    working_dir: /opt/gateway
    volumes: 
      - "./bin/gateway:/opt/gateway/bin/gateway"
      - "./static:/opt/gateway/static"
    environment:
      - "DB_NAME=test"
      - "DB_USER=test"
      - "DB_PASSWORD=password"
      - "DB_ADDRESS=shalprin-db"
    ports:
      - 9000:9000
    entrypoint: /opt/gateway/bin/gateway

  profile:
    build: .
    volumes: 
      - "./bin/profile:/opt/profile/bin/profile"
    environment:
      - "DB_NAME=test"
      - "DB_USER=test"
      - "DB_PASSWORD=password"
      - "DB_ADDRESS=shalprin-db"
    ports:
      - 9001:9000
    entrypoint: /opt/profile/bin/profile

  shalprin-db:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'password'
      MYSQL_DATABASE: 'test'
      MYSQL_USER: 'test'
      MYSQL_PASSWORD: 'password'
    ports:
      - 3308:3306